.Contact {
  position: absolute;
  right: 16px;
  top: 10px;
  width: auto;
  align-content: space-around;
  box-sizing: border-box;
}

.nav-contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
}

.nav-link {
  color: #2685ca;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-contact {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
